.container {
    background-color: white;

    .content {
        display: flex;
    }

    @media only screen and (max-width: 1020px){
        .content {
            margin: 0 40px;
        }
    }
}
