header {
    height: 130px;
    background-color: #343A47;
    padding: 15px 30px 10px 30px;

    .page-title {
        h1 {
            font-family: 'Wendy One', sans-serif;
            font-size: 3.5em;
            color: #BAB552;
            text-align: center;
        }
    }
}