nav {
    margin: 25px 0 25px 0;
    display: flex;
    align-items: center;
    justify-content: center;

    // TODO: ここはmoduleで切り分ける
    ul.category {
        background-color: #484E4F;
        padding: 20px 10px 20px 10px;
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .5);

        li {
            font-size: 1.8em;
            text-align: center;
            width: auto;
            list-style: none;
            display: inline-block;
            padding: 0 25px 0 25px;
            color: #6A8EA8;
        }

        li+ li {
            border-left: 1px solid black;
        }
    }
}