html {
    background-color: #d8d8dc;
    padding: 0 250px;
}

body {
    min-height: 100vh;
    padding: 0 150px 150px 150px;
    font-family: "M PLUS Rounded 1c", "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #3f434b;
    letter-spacing: 1.2px;
    line-height: 1.5;
    background-color: white;
}

a {
    text-decoration: none;
}

a:link, a:visited, a:hover, a:active {
    color: #3f434b;
}
