html {
    height: 100vh;
}

body {
    height: 100%;
    font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
    font-size: 16px;
    letter-spacing: 1.2px;
    line-height: 1.5;
    background-color: #282d30;
    color: #c8c8c8;
}

h1 {
    font-size: 2.2em;
    color: #6A8EA8;
}

h2 {
    font-size: 2.0em;
    color: #6A8EA8;
}

h3 {
    font-size: 1.8em;
    color: #6A8EA8;
}

h4 {
    font-size: 1.6em;
    color: #6A8EA8;
}

h5 {
    font-size: 1.4em;
    color: #6A8EA8;
}

h6 {
    font-size: 1.2em;
    color: #6A8EA8;
}

p {
    font-size: 1.0em;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    display: none;
}

::-webkit-scrollbar-thumb {
    border-radius: 1.5px;
	background:#42464a;
}