.card {
    display: flex;

    .card-item {
        background-color: #484E4F;
        padding: 15px 15px 15px 15px;
        border-radius: 10px;
        margin: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .5);
        width: calc(100% / 3);
    }
}