.menu {
    background-color: #1e2323;
    overflow-y: overlay;
    width: 220px;

    ul {
        list-style: none;

        a, label {
            display: block;
            padding: 7px 0px 7px 15px;
            font-size: 1.0em;
        }
        
        input:checked + ul {
            display: block;
        }
    }
    
    ul.inner {
        display: none;

        a, label {
            padding-left: 30px;
        }
    }

    a:hover, label:hover {
        background-color: #484E4F;
    }

    input {
        display: none;
    }

    @media only screen and (max-width: 1020px){
        display: none;

        ul {
            display: none;
        }
    }
}