{% load static %}

<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Y.Y.Lab{% endblock %}</title>
        <link href="https://fonts.googleapis.com/css2?family=Wendy+One&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/skelton.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}">
        <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
    </head>
    <body>
        <header>
            <div class="page-title">
                <a href="/"><h1>Y.Y.Lab</h1></a>
            </div>
        </header>
        <nav class="menu">
            <ul>
                <li><a href="/">TOP</a></li>
                <li><a href="{% url 'profile' %}">PROFILE</a></li>
                <li><a href="https://github.com/engineer-chogath">GITHUB</a></li>
            </ul>
        </nav>
        <div class="container">
            <div class="content">
                {% block content %}{% endblock %}
                {% if not disable_side_menu %}
                    <div class="side-menu">
                        <div class="category">
                            <p class="category-bar">カテゴリー</p>
                            {% for category in categories %}
                                <p>
                                    {{ category.name }}
                                    <label class="category-count-badge">
                                        {{ category.prefetched_post|length }}
                                    </label>
                                </p>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        <footer></footer>
    </body>
</html>
