{% load static %}

<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Y.Y.Lab{% endblock %}</title>
        <link href="https://fonts.googleapis.com/css2?family=Wendy+One&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <header>
            <div class="page-title">
                <a href="/"><h1>Y.Y.Lab</h1></a>
            </div>
        </header>
        <nav>
            <ul class="category">
                <li style="backgroud: url() left center no-repeat;">技術</li><li>読書</li><li>ゲーム</li>
            </ul>
    　　</nav>
        <div class="container">
            <div class="content">
                {% block content %}{% endblock %}
            </div>
        </div>

        <footer/>
    </body>
</html>